@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
  font-size: 1.75rem;
}

.search-area {
  padding-top: 50px
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
}

.user-name {
  margin-top: 3.1%;
  padding-right: 2px
}